body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #443535;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("images/loveBackgound.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head-Title {
    color: #ff5f5f;
    font-size: 5rem;
}

.head-Title:hover {
    color: #5fff6c;
}

.container {
    background: rgb(255, 251, 251);
    margin-top: 50px;
    padding: 20px;
    display: block;
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
    text-align: center;
    
}

.container2 {
    background: rgb(0, 241, 60);
    margin-top: 50px;
    padding: 20px;
    display: block;
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
    text-align: center;
    
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5fff6c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button2 {
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #ff4242;
}
